<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Tasks" verbose="2" parallel="false">

    <test name="Tasks">
        <classes>
            <class name="org.jboss.seam.example.tasks.test.CategoryResourceTest"/>
            <class name="org.jboss.seam.example.tasks.test.TaskResourceTest"/>
            <class name="org.jboss.seam.example.tasks.test.ResolvedTaskResourceQueryTest"/>
        </classes>
    </test>
</suite>